body {
    color: white
}

h2 {
    text-align: center;
}

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: green;
    font-size: 3rem;
    min-width: 80rem;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 green;
    transform: scale(1.03);
    transform :transform 100ms; 
}

.answer-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, green 0%, green
    100%);
}

.incorrect {
    background: linear-gradient(32deg, red 0%, red 100%);
}


/* HUD */
#hud {
    display: flex;
    justify-content: center;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 40rem;
    }
}