:root {
    background-color: darkslategray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 3.8rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: red;
    background: linear-gradient(90deg, blue 0%, blue 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 green;
    transition: transform 150ms;
    transform: scale(1.05);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscorebtn {
    background: linear-gradient(90deg, yellow 0%, yellow 100%)
}

#highscorebtn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 yellow;
}

.fa-chess-king {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.endformcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: none;
    box-shadow: 0, 0.1rem 1.4rem cyan;
}

input:placeholder {
    color: grey;
}

/* CSS for Game HTML */

h2 {
    text-align: center;
}

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: blue;
    font-size: 3rem;
    min-width: 80rem;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 blue;
    transform: scale(1.03);
    transform :transform 100ms; 
}

.answer-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.answer-text {
    padding: 2rem;
    width: 100%;
}


/* HUD */
#hud {
    display: flex;
    justify-content: center;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 40rem;
    }
}

/* High Score CSS */

#highScoresList {
    margin-bottom: 4rem;
}

.high-score {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}